go
USE [master]
GO
/****** Object:  Database [TestProject2]    Script Date: 1/28/2023 8:43:55 PM ******/
CREATE DATABASE [TestProject2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestProject2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestProject2.mdf' , SIZE = 860160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestProject2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestProject2_log.ldf' , SIZE = 991232KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestProject2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestProject2]
GO
/****** Object:  Table [dbo].[Comets]    Script Date: 1/28/2023 8:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Nametype] [nvarchar](max) NOT NULL,
	[RecclassID] [int] NOT NULL,
	[Mass] [float] NOT NULL,
	[Fall] [bit] NOT NULL,
	[Year] [date] NULL,
	[Reclat] [float] NOT NULL,
	[Reclong] [float] NOT NULL,
	[GeolocationType] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recclasses]    Script Date: 1/28/2023 8:43:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recclasses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [Comets_RecclassID_Year_Name]    Script Date: 1/28/2023 8:43:56 PM ******/
CREATE NONCLUSTERED INDEX [Comets_RecclassID_Year_Name] ON [dbo].[Comets]
(
	[RecclassID] ASC,
	[Year] ASC
)
INCLUDE([Name],[Mass]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
